<div id='{{mainId}}'>
    <div class='container'>
        <h2 class='mt-3'>Διαγραφή Βιβλίου</h2>
        <p>Το παρακάτω βιβλίο διαγράφηκε από την λίστα του χρήστη
            <span class='username'>{{username}}</span>:</p>
        <div class='alert alert-primary'>
            <strong>- Τίτλος:</strong>
            {{title}}<br />
            <strong>- Συγγραφέας:</strong>
            {{author}}<br />
            <strong>- Εκδότης:</strong>
            {{editor}}<br />
            <strong>- Ετος:</strong>
            {{year}}<br />
        </div>
        <p>Για να δείτε την καινούργια λίστα βιβλίων πατήστε
            <a href='/books'>εδώ</a>.</p>
    </div>
</div>