<div id="{{mainId}}">
    <div class='container'>
        <h2 class='mt-3'>Εγγραφή Χρήστη</h2>
        <form action='/doregister' method='post'>
            <div class='mb-3'>
                <label for='username' class='form-label'>Ονομα Χρήστη</label>
                <input
                    type='text'
                    class='form-control {{#if message.username}}is-invalid{{/if}}'
                    id='username'
                    name='username'
                    value='{{username}}'
                    placeholder="Εισάγετε Ονομα Χρήστη..."
                />
                <div class="invalid-feedback">{{message.username.msg}}</div>
            </div>
            <div class='mb-3'>
                <label for='password' class='form-label'>Συνθηματικό</label>
                <input
                    type='password'
                    class='form-control {{#if message.password}}is-invalid{{/if}}'
                    id='password'
                    name='password'
                    value='{{password}}'
                    placeholder="Εισάγετε Συνθηματικό..."
                />
                <div class="invalid-feedback">{{message.password.msg}}</div>
            </div>
            <div class='mb-3'>
                <label for='passConfirm' class='form-label'>Επιβεβαίωση Συνθηματικού</label>
                <input
                    type='password'
                    class='form-control {{#if message.password-confirm}}is-invalid{{/if}}'
                    id='passConfirm'
                    name='password-confirm'
                    value=''
                    placeholder="Επιβεβαίωση Συνθηματικού..."
                />
                <div class="invalid-feedback">{{message.password-confirm.msg}}</div>
            </div>
            
            <button type='submit' class='btn btn-submit-custom'>Υποβόλη</button>
        </form>
        <hr>
        <div class="mb-3">Αν έχετε ήδη εγγραφεί, πατήστε τον παρακάτω σύνδεσμο για να εισέρθετε στην εφαρμογή.</div>
        <a href="/login">Είσοδος</a>
    </div>
</div>